<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Exercise list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
	<div class="col-md-4">
		<h1>Exercises</h1>
	</div>
	<div class="col-md-4">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
    <table class="table table-striped">
		<tr>
		    <th>Feelings / notes after exercise</th>
		    <th>Time</th>
		    <th>Sport</th>
		    <th>Timestamp</th>
		</tr>  
    	<tr th:each = "exercise : ${exercises}">
    		<td th:text="${exercise.notes}"></td>
    		<td th:text="${exercise.time}"></td>
    		<td th:text="${exercise.sport.name}"></td> 	
			<td th:text="${exercise.timestamp}"></td>
 			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${student.id})}" class="btn btn-xs btn-danger">Delete</a></td>    		
    	</tr>
     </table>
	 <a href="/add" class="btn btn-primary">Add exercise</a> 
</div>	    	
</body>
</html>